mixin promo-input(type, placeholder, name, infoMessage)
    - infoMessage = infoMessage || null
    .promo-input(:class='{isDesctop, isTablet, isLaptop}')&attributes(attributes)
        .promo-input__box
            .promo-input__icons
                img.promo-input__icon.promo-input__icon--error(src="img/icons/promo-input-error.png", :class='{isDesctop, isTablet, isLaptop}')
            if type !== 'tel'
                input.promo-input__field(type=type, placeholder=placeholder name=name, :class='{isDesctop, isTablet, isLaptop}', @focus="promoInput.onFocus", @blur="promoInput.onBlur")
            else
                input.promo-input__field(type=type, placeholder=placeholder name=name, :class='{isDesctop, isTablet, isLaptop}', @focus="promoInput.onFocus", @blur="promoInput.onBlur", v-mask="'+7 (___) ___ - __ - __'")
        if infoMessage
            span.promo-input__info #{infoMessage}
        else
            span.promo-input__info
