mixin checkbox(text, icon="check")
    .checkbox(class=attributes.class)
        if attributes.name
            input(type="radio", id=attributes.id, checked=attributes.checked, name=attributes.name).checkbox__input
        else 
            input(type="checkbox", id=attributes.id, checked=attributes.checked).checkbox__input
        label(for=attributes.id).checkbox__label
            span.checkbox__decoration
                +svg(icon).checkbox__check
            if text
                span.checkbox__text= text
